.titulo {
    text-align: center;
    padding-top: 20px;
}

.boton {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #D2bbd8;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #D2bbd8;
    border-radius: 10px;
 }
 
 .boton:hover { 
    background-color: #5e2b96;
    color: white;
}

.acciones {
display: flex;
justify-content: center;
}

.columna {
    margin: 20px;
}