.titulo {
    text-align: center;
    padding-bottom: 20px;
}

.boton {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #468189;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color:  #468189;
    ;
    border-radius: 10px;
 }
 
 .boton:hover { 
    background-color: #031926;
    color: white;
}

.acciones {
display: flex;
justify-content: center;
background-color: #DCDCDC;


}

.columna {
    margin: 20px;
}

