.containerLoginForm {
    background-color: #ffffff;
    height: 600px;
    text-align: center;
}


.textLoginH1{
    
    text-align: center;

}

.formLogin {
    margin: auto;
    background-color: #dcdcdc;
    width: 100%;
    height: 25%;
    padding: 0px;
}


